.background {
  background-color: #511301;
  width: 15vh;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.icon {
  font-size: 2.5em;
  color: white;
}
.icon:hover{
  transform: scale(1.3);
}
.iconBox {
  display: flex;
  flex-direction: column;
  padding: 3%;
  margin: 3%;
  align-items: center;
  justify-content: center;
}
.iconText {
  color: white;
  font-size: 0.8em;
  padding: 1%;
}
