.App{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.videoContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 22% 12%;
  align-items: center;
}
.bar1{
  position: fixed;
  left: 0%;
  z-index: 1;
}
.bar2{
  position: fixed;
  left: 160vh;
  z-index: 1;
}
.Header {
  position: absolute;
  background-color: #e51865;
  width: 100%;
  height: 30%;
  opacity: 0.8;
  transition: transform 2s;
}
h1{
  font-size: 5em;
  position: absolute;
  left: 30%;
  font-family: 'Alex Brush', cursive;
  color: white;
  font-weight: bold;
}
.Header:hover {
  transform: scale(1.3);
}
